1. Create a ranking of students based on score (highest first).
- SELECT
    name,
    score,
    RANK() OVER (ORDER BY score DESC) AS student_rank
FROM students;


2. Show each student's score and the previous student’s score (based on score order).
- SELECT
    name,
    score,
    LAG(score) OVER (ORDER BY score DESC) AS previous_score
FROM students;


3. Convert all student names to uppercase and extract the month name from join_date.
- SELECT
    UPPER(name) AS student_name,
    MONTHNAME(join_date) AS join_month
FROM students;

4. Show each student's name and the next student’s attendance (ordered by attendance).
- SELECT
    name,
    attendance,
    LEAD(attendance) OVER (ORDER BY attendance) AS next_attendance
FROM students;

5. Assign students into 4 performance groups using NTILE().
- SELECT
    name,
    score,
    NTILE(4) OVER (ORDER BY score DESC) AS performance_group
FROM students;

6. For each course, assign a row number based on attendance (highest first).
- SELECT
    name,
    course,
    attendance,
    ROW_NUMBER() OVER (PARTITION BY course ORDER BY attendance DESC) AS row_num
FROM students;

7. Calculate the number of days each student has been enrolled (from join_date to today).

(Assume current date = '2025-01-01')
- SELECT
    name,
    DATEDIFF('2025-01-01', join_date) AS days_enrolled
FROM students;

8. Format join_date as “Month Year” (e.g., “June 2023”).
- SELECT
    name,
    DATE_FORMAT(join_date, '%M %Y') AS formatted_date
FROM students;

9. Replace the city ‘Mumbai’ with ‘MUM’ for display purposes.
- SELECT
    name,
    REPLACE(city, 'Mumbai', 'MUM') AS city_display
FROM students;

10. For each course, find the highest score using FIRST_VALUE()
- SELECT
    name,
    course,
    score,
    FIRST_VALUE(score) OVER (PARTITION BY course ORDER BY score DESC) AS highest_score
FROM students;